@font-face {
    font-family: 'cyberpunkregular';
    src: url('./fonts/cyberpunk-webfont.woff2') format('woff2'),
        url('./fonts/cyberpunk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --logo-text-color: #fffafa;
    --content-background-color: #e9e9e9;
    --error-text-color: red;
    --form-background-color: #f5f5f5;
    --form-shadow-color: #bdbdbd;
    --button-color: #26465d;
    --border-color-default: #cacaca;
    --border-color-focus: #94c7dc;
    --logo-banner-text-size: 72px;
    --content-left-margin: 7rem;
    --form-item-width: 40ch;
    --form-column-gap: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
}

#splash-image {
    position: relative;
    background-image: url(./images/ConquestOfMan.jpg);
    background-position: -45px -35px;
    max-width: 560px;
    flex: 1 0 360px;
}

#splash-image>.image-credit {
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    color: var(--logo-text-color);
    background-color: rgba(70, 70, 70, 0.4);
    border-radius: 3px;
    font-size: 0.7rem;
    font-weight: 700;
}

#logo-banner {
    position: absolute;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px;
    top: 36%;
    width: 100%;
    background-color: rgba(105, 105, 105, 0.7);
}

#logo-banner>svg {
    height: calc(var(--logo-banner-text-size) + 60px);
}

#logo-banner>span {
    font-family: 'cyberpunkregular', sans-serif;
    font-size: var(--logo-banner-text-size);
    color: var(--logo-text-color);
    letter-spacing: -15px;
    padding-bottom: 15px;
}

#content {
    flex-grow: 2;
    background-color: var(--content-background-color);
}

form {
    background-color: var(--form-background-color);
    filter: drop-shadow(3px 3px 3px var(--form-shadow-color));
    margin-top: 3rem;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1rem var(--form-column-gap);
    border: 0;
    padding: 0 0 1.5rem 0;
    margin: 0 0 0 var(--content-left-margin);
    width: calc(2*var(--form-item-width) + var(--form-column-gap));
}

.form-item {
    display: flex;
    flex-direction: column;
    width: var(--form-item-width);
}

.form-item>label {
    font-size: 0.9rem;
    letter-spacing: 0.15rem;
}

.form-item>input {
    outline: none;
    padding: 0.5rem 1ch;
    background-color: var(--form-background-color);
    border: 1px solid var(--border-color-default);
    border-radius: 0.25rem;
    font-size: 1.1rem;
}

.form-item>input:invalid {
    border: 1px solid var(--error-text-color);
}

.form-item>input:focus {
    border: 1px solid var(--border-color-focus);
    filter: drop-shadow(3px 3px 3px var(--form-shadow-color));
}

span.error-message {
    margin-top: 0.1rem;
    color: var(--error-text-color);
    font-size: 0.75rem;
    height: 0.75rem;
}

h2 {
    margin-left: var(--content-left-margin);
    min-width: 50ch;
    max-width: 72ch;
}

#content>h2:first-child {
    margin-top: 10rem;
}

form>h2 {
    padding-top: 1rem;
}

button {
    margin: 2rem 0 0 var(--content-left-margin);
    padding: 0.75rem 3rem;
    background-color: var(--button-color);
    color: var(--logo-text-color);
    border: 0;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    font-weight: 700;
}

#content>p {
    margin: 2rem 0 0 var(--content-left-margin);
}

#content>p {
    font-weight: 700;
}

p>a {
    color: var(--button-color);
}