:root {
    --logo-text: #fffafa;
    --logo-banner: #696969; 
    font-family: Arial, Helvetica, sans-serif;

}

body {
    height: 100vh;
    margin: 0;
    display: flex;
}

#splash-image {
    position: relative;
    background-image: url(./images/ConquestOfMan.jpg);
    max-width: 605px;
    flex-grow: 1;
}

#splash-image > .image-credit {
    position: absolute;
    top: 0.5rem;
    left: 40%;
    color: var(--logo-text);
    font-size: 0.7rem;
    font-weight: 700;
}

#logo-banner {
    position: absolute;
    top: 40%;
    width: 100%;
    background-color: var(--logo-banner);
    opacity: 0.5;
}

#content {
    flex-grow: 2;
}