@font-face {
    font-family: 'cyberpunkregular';
    src: url('./fonts/cyberpunk-webfont.woff2') format('woff2'),
         url('./fonts/cyberpunk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --logo-text: #fffafa;
    --logo-banner-text-size: 72px; 
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
}

#splash-image {
    position: relative;
    background-image: url(./images/ConquestOfMan.jpg);
    max-width: 605px;
    flex-grow: 1;
}

#splash-image > .image-credit {
    position: absolute;
    top: 0.5rem;
    left: 40%;
    color: var(--logo-text);
    font-size: 0.7rem;
    font-weight: 700;
}

#logo-banner {
    position: absolute;
    top: 40%;
    width: 100%;
    background-color: rgba(105, 105, 105, 0.6);
}

#logo-banner > svg {
    height: calc(var(--logo-banner-text-size) + 40px);
}

#logo-banner > span {
    font-family: 'cyberpunkregular', sans-serif;
    font-size: var(--logo-banner-text-size);
    color: var(--logo-text);
}

#content {
    flex-grow: 2;
}